who are your users?
	three type of users: 1. people who will click on the first thing they see and call
People lwte 20-60s, people who don't have time to cut own lawn or can't but have money
			     2. people who need some convicning, ie professional website or examples of good work
			     3. people who do a lot of reasearch before making a decision. 
	
what do they expect?
why do those things matter to them?
		if they are going to spend money, they want to make sure they get what they are paying for. 
		people who click on a website about lawns want lawn work done, 
		the challeneg is convincing them that we are the company that can do it for them. 

		


need to make sure that the website gives every opportunity for people to reach out to dennis for business

will need the number written down in multiple places.

The about section should probably have some more information.
	1. it should have a statement about the type of business that they will provide the customer
	2. it should have a track record of excellent service.
	3. it should have a short synopsis of who the owners are. this can be hidden initally.
Maybe there should be a testimonial section